h1 {
    color: rgb(44, 193, 204);
    text-align: center;
  }
  h2 {
    color: rgb(119, 28, 146);
    font-style: italic;
    text-align: center;
  }
  h3 {
      color: rgb(204, 33, 48);
    text-align: center;
  }